Exclude all
#########
*
!*/
!.gitignore
!*.md # Do not ignore readme
#########
#Source files:
#########
#Do NOT ignore Python files.
!*.py
!hashtable/stop_words.txt
!search_engine/stop_words.txt
!search_engine/docs/*.txt
########
# Folders:
#########
recursion
mt
########
# Files
#########
recursive/bear_picnic.py
